@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
    font-feature-settings: "palt";
    word-break: auto-phrase;
}

.text-3xl {
    font-size: 1.25rem !important;
}

.toc::before {
    font-weight: 600;
    text-align: center;
    content: "目次";
    font-size: 1.75rem;
}

blockquote {
    border: 1px solid #999;
    color: #222;
}

.toc {
    border: 2px solid #efefef;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
}

.toc ul li {
    margin: 0;
}